body {
    margin: 3%;
    font-family: Georgia, serif;
    line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, table, img, pre {
    display: block;
    margin: 1.4em 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    page-break-after: avoid;
    page-break-inside: avoid;
}

h1 { 
    margin-bottom: 2.8em;
    page-break-before: always;
}

h2 {
    margin-top: 2.8em;
}

abbr {
    font-size: 86.5%;
    letter-spacing: .1em;
    cursor: help;
}

.footnotes {
    font-family: sans-serif;
    font-size: 86.5%;
    color: #999;
}

.footnotes ol {
    list-style-type: decimal-leading-zero;
    margin: 2.8em 0 1.4em 0;
    padding: 0 0 0 2.2em;
}

pre {
    margin-left: 2em;
}

pre, code, kbd, var, tt, .codeRay, .code {
    font-family: Menlo, monospace;
    font-size: 86.5%;
    color: #333;
    page-break-inside: avoid;
}

.footnotes pre, .footnotes code, .footnotes kbd, .footnotes var, .footnotes tt, .footnotes .codeRay, .footnotes .code {
    color: #888;
}

dt {
    font-style: italic;
}

dd {
    margin: 0 0 0 1.4em;
}
